<div class="background">

<div class="heading" fxLayout="row wrap"    >
<div fxFlex="100%" fxLayoutAlign="center center" >
    
    <div>
    <span class="first">Eve</span><span class="second">nto</span>
</div>

</div>

<div fxFlex="35%" fxFlex.xs="20%">
    
</div >
<div fxFlex=65% fxFlex.xs="70%">
<span class="subfirst">For events as
</span><span class="subsecond">unique as you</span>
</div>
<div fxFlex="10%"></div>
<div fxFlex="100% " class="btn" fxLayoutAlign="center center" >
    <button mat-raised-button class="hlo" routerLink="/login">Let's Go!!</button>
</div>
<div class="space" fxFlex="100%"></div>
<div fxHide fxShow.xs fxFlex="10%"></div>
<div fxFlex="30%" fxFlex.xs="20%"></div>
<div fxFlex="40%" fxFlex.xs="50%"   fxLayoutAlign="center center">
    <p>“Some people look for a beautiful place. Others make a place beautiful”</p>

</div>
<div fxFlex=30% fxFlex.xs="30%"> </div>


</div>

</div>
        
       
               
            
  
        
    




