@font-face {
    font-family:atma ;
    src: url('../../../assets/Fonts/Atma-Bold.ttf');
}
.background{
    background: #121315;
    background-size: contain;

height: auto;
.post{
    margin-top: 20px;
    
}


}
.heading{
    //border:1px solid red;
    height: 12vh;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 1);
    
.ico{
    font-family: atma;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 113px;

    
    .first{
        color: rgba(255, 251, 251, 1);
    }
    .second{
      color:   rgba(233, 189, 36, 1);
    }
}

}
mat-grid-tile{
    background-color: #234892;
}
.example-form{
    margin-top: 1.2rem;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: white;
    
}
mat-label{
    color: white;
}
mat-icon{
    color: white;
}
input{
    color: white;
}
.slide{
    border: 1px solid red;
    .choose{
        border: 1px solid white;
    }
}
.example-radio-group{
    display: flex;
    flex-direction: column;
}
.toggle{
    margin-top: 10px;
    
}
mat-accordion{
    
    background-color: #121315;
}
mat-expansion-panel-header{
    background-color:rgba(139, 131, 131, 0.75);
    border-radius: 20px;
    
    
}



.bbb{
    background-color:rgba(139, 131, 131, 0.75); 
}

mat-card-header{

    background-color: rgba(139, 131, 131, 1);
    width: 600px;
    height: 78px;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
   

}
.example-card{
    background-color: rgb(255, 255, 255);
}
.example-header-image {
    margin-top: 10px;
    background-image: url('../../../assets/Images/pexels-aaron-j-hill-12755094.jpg');
    background-size: cover;
    margin-left: 10px;
  }
  .example-card {
    max-width: 600px;
   
    
  }
  .icons{
    margin-left: 15px;
    color:black ;
  }
  mat-card{
    padding-top: 0px;
  }
  .nearimage{
    margin-top: 10px;
    padding-right: 235px;

  
  }
  .follow{
    margin-top: 15px;
    margin-right: 50px;
  }
